#new-poll-container
  Creating a poll is easy, just click on the button below to begin.
  .buttons
    %a.button{:href => "/new"}
      %img{:src=>"/images/icons/tick.png", :alt=>"add"}/
      new poll
