!!! XML
!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title hungry.be
    %link{:href => '/css/screen.css', :media => 'screen, projection', :rel => 'stylesheet', :type => 'text/css', :charset => "utf-8"}/
    %link{:href => '/css/print.css', :media => 'print', :rel => 'stylesheet', :type => 'text/css'}/
    /[if IE]
      %link{:href => "/css/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css", :charset => "utf-8"}/
    %link{:href => '/css/application.css', :media => 'screen, projection', :rel => 'stylesheet', :type => 'text/css', :charset => "utf-8"}/
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
    %script{:type => 'text/javascript', :src => 'http://www.google-analytics.com/ga.js'}
  %body
    #header
      %h1 hungry.be
    #main
      = yield
      %br{:style => 'clear: both;'}/
    #footer
      this is a very early release - please check back for future updates
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-7325596-3");
        pageTracker._trackPageview();
      } catch(err) {}
    
