!!! XML
!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title hungry.be
    %link{:href => '/css/screen.css', :media => 'screen, projection', :rel => 'stylesheet', :type => 'text/css', :charset => "utf-8"}/
    %link{:href => '/css/print.css', :media => 'print', :rel => 'stylesheet', :type => 'text/css'}/
    /[if IE]
      %link{:href => "/css/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css", :charset => "utf-8"}/
    %link{:href => '/css/application.css', :media => 'screen, projection', :rel => 'stylesheet', :type => 'text/css', :charset => "utf-8"}/
  %body
    #header
      %h1 hungry.be
    #main
      = yield
      %br{:style => 'clear: both;'}/
    #footer
      some footer information
