%form{:action => '/new', :method => 'post'}
  %fieldset
    %input{:type => 'text', :name => 'restaurant[]'}/
    %input{:type => 'text', :name => 'restaurant[]'}/
    %input{:type => 'text', :name => 'restaurant[]'}/
    %input{:type => 'text', :name => 'restaurant[]'}/
    %input{:type => 'submit', :value => 'add poll'}/

