%img.chart{:src => "#{poll.chart_url}", :alt => 'chart'}/
-if can_invite?(poll.id)
  .buttons
    %a.button{:href => "/#{poll.id}/invite"}
      %img{:src=>"/images/icons/tick.png", :alt=>"add"}/
      invite others
